@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

h1,
h2 {
  transition: color 0.5s;
}

h1:hover,
h2:hover {
  color: #ff7f50;
}

canvas {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
